---
title: About
permalink: /about/
---
<html>

<head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta charset = "utf-8">
      <link rel = "stylesheet" href = "/assets/navbar-styling.css">
      <link rel = "stylesheet" href = "/assets/about-styling.css">
      <link rel = "stylesheet" href = "/assets/footer-styling.css">
      <link href="https://fonts.googleapis.com/css?family=Special+Elite&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Muli:300&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Crimson+Pro&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro&display=swap" rel="stylesheet">
      <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/animsition/4.0.2/css/animsition.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
      
  </head>

<body>
{% include navbar.html %}
<h3 class = "title"> > What is Together Not Alone? </h3>
<div class = "blockquote">
<h2> A group of motivated, unstoppable girls
    who believe it's time for mental health
    to change.
</h2>
</div>
<h3> > What is Together Not Alone? </h3>
<p class = "first"> This mental health organization was started
    by a group of determined Douglass women. Together Not Alone
    has actively supported and engaged the New Brunswick community,
    and went above and beyond the Rutgers University campus.
    <br>
    We are a community that is dedicated to altering the perception
    of mental health in the eyes of college students, minorities
    and local residents.
</p>
<h3> > How do we ignite the change? </h3>
<p class = "second"> 
    Through our blogs and social media, we share real, impactful
    journeys of individuals about their struggles with mental health.
</p>
<h3> > Why should you be involved? </h3>
<p class = "third">
    We also have discussion groups on topics surrounding mental health,
    such as depression and anxiety. We provide accurate, helpful resources to
    those seeking help.
</p>
<br>
<br>
{% include footer.html %}
</div>
<script>
    $(document).ready(function() {
     $("p, h2, h3").fadeIn(1000);
   });
</script>
</html>
