---
title: Together Not Alone
---

<html lang = "en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset = "utf-8">
        <meta name = "description" content = "Together Not Alone's Organizational Website">
        <meta name = "keywords" content = "New Jersey, mental health, Together Not Alone, resources, mental health awareness">
        <meta name="author" content="Together Not Alone">
        <link rel = "stylesheet" href = "/assets/navbar-styling.css">
        <link rel = "stylesheet" href = "/assets/index-styling.css">
        <link rel = "stylesheet" href = "/assets/footer-styling.css">
        <link href="https://fonts.googleapis.com/css?family=Special+Elite&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Muli:300&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Marck+Script&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/358914a510.js" crossorigin="anonymous"></script>
        <link rel="icon" type="image/jpg" href="/assets/our-logo.jpg" />
    </head>
    <body>
   {% include navbar.html %}
    <div class = "nptext">
        <h2> Together Not Alone </h2>
        <p> 
            We provide resources and support for those battling <br>
            mental health through sharing experiences and <br>
            bringing awareness to the community.
        </p>
    </div>

    <div class = "listy">
        <div class = "listy_item">
            <div class = "listy_content blue">
                <span style="font-size: 10rem; text-align:center">
                    <i class="fas fa-microphone-alt"></i>
                </span>
                <a href = "/podcast/">
                <p class = "cinfo" style = "color: black;">
                    Check out our upcoming podcast
                    for our August 2020 Project, Project Never Alone.
                </p>
            </a>
            </div>
        </div>
        <div class = "listy_item">
            <div class = "listy_content teal">
                <span style="font-size: 10rem; text-align:center">
                    <i class="far fa-keyboard"></i>
                </span>
                <a href = "/blog/">
                <p class = "binfo" style = "color: black;"> 
                   Our latest blog post features 
                   an interview of Elle, a Physics PhD student.
                </p>
            </a>
            </div>
        </div>
        <div class = "listy_item">
            <div class = "listy_content purple">
                <span style="font-size: 10rem; text-align:center;">
                    <i class="far fa-newspaper"></i>
                </span>
                <a href = "/newsletter">
                <p class = "dinfo" style = "color: black;">
                    Check out our upcoming newsletter
                    for our August 2020 Project, Project Never Alone.
                </p>
            </a>
            </div>
        </div>
    </div>
    {% include footer.html %}
    <script>
    $(document).ready(function(){
        $("div").fadeIn(1500)
        $("div").animate({
            opacity: '1.25'
        });
    });
</script>
</html>
