---
title: Newsletter
permalink: /newsletter/
---
<html lang = "en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset = "utf-8">
        <link rel = "stylesheet" href = "/assets/navbar-styling.css">
        <link rel = "stylesheet" href = "/assets/newsletter-styling.css">
        <link rel = "stylesheet" href = "/assets/footer-styling.css">
        <link href="https://fonts.googleapis.com/css?family=Special+Elite&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Muli:300&display=swap" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <link href="https://fonts.googleapis.com/css2?family=Marck+Script&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap" rel="stylesheet">
        <link rel="icon" type="image/jpg" href="/assets/our-logo.jpg" />
    </head>
    <body>
        {%include navbar.html%}
        <div class = "newsletter-box">
            <h2 class = "news-align"> Newsletters</h2>
            <div class="card card-fix">
                <a href = "/assets/aug-newsletter.pdf">
                <img src = "/assets/aug-news.png" class = "card-img-top" alt="August newsletter">
                <div class = "card-body">
                    <p class = "card-text deco-none">
                        Check out our August edition of the newsletter
                        which focuses on Project Never Alone.
                    </p>
                </div>
            </div> 
        </a>
        </div>
        {%include footer.html%}
    </body>
</html>