---
title: Past Events
permalink: /pastevents/
---
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset = "utf-8">
        <link rel = "stylesheet" href = "/assets/navbar-styling.css">
        <link rel = "stylesheet" href = "/assets/pastevents-styling.css">
        <link rel = "stylesheet" href = "/assets/footer-styling.css">
        <link href="https://fonts.googleapis.com/css?family=Special+Elite&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Muli:300&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Hepta+Slab|Lora&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css">
        <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
        <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/animsition/4.0.2/css/animsition.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <link rel="icon" type="image/jpg" href="/assets/our-logo.jpg" />
    </head>
    <body>
    {% include navbar.html %}
    <!--<div class="animsition"
  data-animsition-in-class="fade-in-left-sm"
  data-animsition-in-duration="1000"
  data-animsition-out-class="fade-out-left-sm"
  data-animsition-out-duration="800">-->
    <div class="wrappered adjusted-wrapper">
      <div id="onesie">
        <div class = "swiper-container swiper1"> 
          <div class = "swiper-wrapper">
          <div class = "swiper-slide"> 
          <img class = "all-slider" src = "/assets/Nami1.jpg"> 
          </div>
          <div class = "swiper-slide"> 
          <img class = "all-slider" src = "/assets/Nami2.jpg">
          </div>
          </div>
          <div class = "swiper-button-prev"> </div>
          <div class = "swiper-button-next"> </div>
          </div>
      </div>
      <div id="twosie" class = "back-1">
        <h2 class = "title"> NAMI + TNA </h2>
    <p class = "info"> On May 18, our co-directors (Monika and Akhila), along with our Event Coordinator (Sam) went to attend the NAMI Open House. 
    <br>
    <br>
    NAMI shares our vision of a future where mental illness is openly treated and accepted, rather than denied and brushed away.
    <br> 
    <br>
    If you are interested in NAMI and their vision, check out their <a href = "https://nami.org/About-NAMI"> website</a>. 
    </p> 
    </div>
    </div>

    <div class = "wrappered adjusted-wrapper">
      <div id = "onesie">
        <div class = "swiper-container swiper2"> 
          <div class = "swiper-wrapper">
          <div class = "swiper-slide"> 
          <img class = "all-slider" src = "/assets/RD1.jpg"> 
          </div>
          <div class = "swiper-slide"> 
          <img class = "all-slider" src = "/assets/RD2.jpg">
          </div>
          <div class = "swiper-slide"> 
          <img class = "all-slider" src = "/assets/RD3.jpg">
          </div>
          </div>
          <div class = "swiper-button-prev"> </div>
          <div class = "swiper-button-next"> </div>
          </div>
      </div>
      <div id = "twosie" class = "back-2">
        <h2 class = "title"> Rutgers Day 2019 </h2>
    <p class = "info"> On April 27 (Rutgers Day), the Together Not Alone team decided to increase our outreach by having a table for the public. We provided goodies for the little kids, along with positive quotes.
    <br>
    <br>
    Through this experience, our organization had the chance to reach out to a huge, diverse population. As our nonprofit grows, we hope to attend more community-based events such as Rutgers Day! 
    </p> 
    </div>
    </div>
    </div>
    {% include footer.html %}
    </div>
    <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script>
    var swiper1 = new Swiper('.swiper1', {
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
    });
    var swiper2 = new Swiper('.swiper2', {
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
    });
  </script>
<!--<script src = "https://cdnjs.cloudflare.com/ajax/libs/animsition/4.0.2/js/animsition.min.js"> </script>
<script>
    $(document).ready(function() {
  $(".animsition").animsition({
    inClass: 'fade-in',
    outClass: 'fade-out',
    inDuration: 1500,
    outDuration: 800,
    linkElement: '.animsition-link',
    loading: true,
    loadingParentElement: 'body', 
    loadingClass: 'animsition-loading',
    loadingInner: '', 
    timeout: false,
    timeoutCountdown: 5000,
    onLoadEvent: true,
    browser: [ 'animation-duration', '-webkit-animation-duration'],
    overlay : false,
    overlayClass : 'animsition-overlay-slide',
    overlayParentElement : 'body',
    transition: function(url){ window.location.href = url; }
  });
})
</script>-->
