---
title: Podcasts
permalink: /podcast/
---
<html lang = "en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset = "utf-8">
        <link rel = "stylesheet" href = "/assets/navbar-styling.css">
        <link rel = "stylesheet" href = "/assets/podcast-styling.css">
        <link rel = "stylesheet" href = "/assets/footer-styling.css">
        <link href="https://fonts.googleapis.com/css?family=Special+Elite&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Muli:300&display=swap" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <link href="https://fonts.googleapis.com/css2?family=Marck+Script&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap" rel="stylesheet">
    </head>
    <body>
        {%include navbar.html%}
        <div class = "podcast-box">
            <h2 class = "pod-align"> Podcasts</h2>
            <p> The newest edition of our podcast will be displayed here soon!
                Until then, read our <a href = "/newsletter/">newsletter</a>.
            </p>
        </a>
        </div>
        {%include footer.html%}
    </body>
</html>