---
title: Podcasts
permalink: /podcast/
---
<html lang = "en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset = "utf-8">
        <link rel = "stylesheet" href = "/assets/navbar-styling.css">
        <link rel = "stylesheet" href = "/assets/podcast-styling.css">
        <link rel = "stylesheet" href = "/assets/footer-styling.css">
        <link href="https://fonts.googleapis.com/css?family=Special+Elite&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Muli:300&display=swap" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <link href="https://fonts.googleapis.com/css2?family=Marck+Script&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap" rel="stylesheet">
        <link rel="icon" type="image/jpg" href="/assets/our-logo.jpg" />
    </head>
    <body>
        {%include navbar.html%}
        <div class = "podcast-box">
            <h2 class = "pod-align"> Podcasts</h2>
            <div class="card card-fix">
                <img src = "/assets/podcast-1.png" class = "card-img-top" alt="First Podcast">
                <div class = "card-body">
                    <p class = "card-text deco-none">
                        Making Sense of Mental Health kicks off Project Never Alone
                        with Episode 1: Activism and Self-Care. 
                    </p>
                    <a href="https://open.spotify.com/show/71v040p5vj8TedcyQKTP2L" class="card-link">Spotify</a>
                    <a href="https://anchor.fm/makingsenseofmentalhealth" class="card-link">Anchor.fm</a>
                </div>
            </div> 
        </div>
        </div>
        {%include footer.html%}
    </body>
</html>