---
title: Resources
permalink: /resources/
---
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset = "utf-8">
        <link rel = "stylesheet" href = "/assets/navbar-styling.css">
        <link rel = "stylesheet" href = "/assets/resources-styling.css">
        <link rel = "stylesheet" href = "/assets/footer-styling.css">
        <link href="https://fonts.googleapis.com/css?family=Special+Elite&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Muli:300&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Hepta+Slab|Lora&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap" rel="stylesheet">
        <link rel="icon" type="image/jpg" href="/assets/our-logo.jpg" />
    </head>
    <body>
        {% include navbar.html %}
        <div class="resources_box">
            <div class = "main-info">
            <h2 class = "resources-main"><u>Resources</u></h2>
            If you are ever in need of urgent assistance,
            please refer to the contacts below.
            <br>
            Remember, help is just a phone call away. 
            You deserve a bright future.
            <br>
            <br>
        </div>
        <div class ="resources-sources">
            <ul>
                <li>
                    <b> <a href = "www.suicidepreventionlifeline.org">National Suicide Prevention Lifeline</a></b>
                    is a leader in suicide prevention that serves as
                    a free, confidential crisis hotline that is available to all individuals 24/7.
                    This lifeline will connect callers to the nearest crisis center, 
                    which will provide counseling and mental health referrals. 
                    You can chat live with a certified professional 
                    <a href = "https://suicidepreventionlifeline.org/chat/"> here</a>, or 
                    you can reach them by phone at <b>1-800-273-TALK(8255)</b>. 
                    Individuals who are deaf, hard of hearing or have hearing loss 
                    can contact the lifeline via TTY at <b>1-800-799-4889</b>.
                </li> 
                <li>
                    <b> <a href = "www.samhsa.gov/find-help/national-helpline">SAMHSA</a></b>'s
                    National Helpline is a confidential, free helpline that is available to all individuals 24/7. 
                    It provides free referrals to local treatment facilities, support groups and 
                    community-based organization for those with psychiatric problems and/or substance abuse disorders. 
                    National representatives speak in both English and Spanish. 
                    You can reach them by phone at <b>1-800-622-HELP(4357)</b>.
                    Individuals who are deaf, hard of hearing or have hearing 
                    loss can contact the helpline via TTY at <b>1-800-487-4889</b>.
                </li>
                <li>
                    <b><a href = "www.samhsa.gov/find-help/disaster-distress-helpline">SAMHSA's 
                    Disaster Distress Helpline</a></b> is a confidential 
                    national hotline dedicated to providing immediate crisis counseling for 
                    individuals experiencing acute emotional distress, including anxiety and depression, 
                    related to any natural or human-caused disaster, including tornadoes, hurricanes, 
                    earthquakes and mass violence. A toll-free, multilingual helpline, its support services 
                    are available to all residents within the US and its territories.
                    You can reach them by phone at <b>1-800-985-5990</b>.
                </li>
                <li>
                    <b><a href = "www.crisistextline.org ">Crisis Textline</a></b>
                    is a free, confidential service for individuals within the US, Canada and UK, 
                    in which a live, trained Crisis Counselor responds to your thoughts and 
                    concerns regarding any difficult situation you are experiencing, including suicidal thoughts, 
                    acute stress, anxiety, depression, attempted self-harm, bullying and emotional abuse. 
                    Your text will always be read, interpreted and answered by a empathetic, supportive individual 
                    who has been trained by Crisis Textline, 
                    and is committed to ensuring that you remain safe.
                </li>
                <li>
                    <b>NAMI's Text Helpline</b> can be accessed by texting <b>'NAMI' to 741741</b>,
                    is free, confidential and available 24/7 and offers
                    critical information on what to do in an emergency or crisis, information on 
                    mental health crisis services 
                    and preparations that can be taken for a potential crisis. Helpline volunteers provide meaningful, 
                    empathetic support, connect callers with their local NAMI crisis center and provide information about 
                    NAMI Educational Programs and Support Groups.
                </li>
                <li>
                    <b><a href = "https://www.nj.gov/humanservices/dmhas/home/disaster/helpline/">The NJ Disaster Mental Health Helpline</a></b> 
                    provides public access to targeted mental health services in case of a natural or 
                    man-made disaster or terrorist attack. It is used to support the services of NJ’s Disaster and Terrorism Branch 
                    in times of declared disasters or incidents that significantly disturb NJ’s communities. 
                    You can dial in to this lifeline at <b>1-877-294-HELP (4357)</b>.
                    Individuals who are deaf, hard of hearing or have hearing loss can contact the lifeline via TTY at <b>877-294-4356</b>. 
                    Hours of operation are Monday through Friday from 8:00AM to 8:00PM EST.
                </li>
                <li>
                    <b><a href = "https://www.njmentalhealthcares.org/">NJ Mental Health Cares</b></a> is New Jersey’s behavioral health information 
                    and referral service. Their staff of behavioral care specialists use 
                    their empathy, personal experiences and understanding to provide emotional 
                    support for situations involving a mental health crisis. 
                    You can dial in to this lifeline at <b>1-866-202-HELP (4357)</b>, or reach them
                    via email at <b><a href = "mailto:help@njmentalhealthcares.org">help@njmentalhealthcares.org</b></a>.
                    Individuals who are deaf, 
                    hard of hearing or have hearing loss can contact the lifeline via TTY at <b>973-870-0677</b>. 
                    Hours of operation are 7 days a week, from 8:00AM to 8:00PM EST.
                </li>
                <li>
                    <b><a href = "http://www.njhopeline.com/">NJ Hopeline</b></a> offers help from trained specialists 
                    that are available 24/7
                    to provide confidential telephone counseling, 
                    support and referrals to local resources in order to help you 
                    navigate through a mental health crisis. 
                    You can dial in to this counseling helpline at <b>1-855-654-6735</b>.
                    Besides reaching out to a 
                    specialist via phone, NJ Hopeline also offers web-based support services 
                    through a peer support live chat. You can control your anonymity through 
                    your user profile.
                    <br> 
                </li>
            </ul>
        </div>
        </div>
        {% include footer.html %}
    </body>
</html>