<html lang = "en">
    <head>
        <script src="https://kit.fontawesome.com/358914a510.js"></script>
    </head>
    <footer>
    <img src = "/assets/our-logo.jpg" class = "flogoadj">
    
    <div class="container column">
        <div class="item ft">Connect with us!</div>
        <div class="item icons">
        <a href = "https://www.facebook.com/TNA.Outreach/"> <i class="fab fa-facebook-square fa-2x spacef"></i> </a>
        <a href = "https://www.instagram.com/_togethernotalone_/"> <i class="fab fa-instagram fa-2x spacei"></i> </a>
        <a href = "mailto:togethernotalone.outreach@gmail.com"> <i class="far fa-envelope fa-2x spacee"></i> </a>
        </div>
        <div class="item copyright">© 2020, All Rights Reserved</div>
      </div>
    <!--<div class = "ft">
        <p> Connect with us! </p>
    </div>

    <div class = "icons">
        <a href = "https://www.facebook.com/TNA.Outreach/"> <i class="fab fa-facebook-square fa-2x spacef"></i> </a>
        <a href = "https://www.instagram.com/_togethernotalone_/"> <i class="fab fa-instagram fa-2x spacei"></i> </a>
        <a href = "mailto:togethernotalone.outreach@gmail.com"> <i class="far fa-envelope fa-2x spacee"></i> </a>
    </div>

    <div class = "copyright">
        <p> 
            © 2020, All Rights Reserved
        </p>
    </div>-->
</footer>
</html>