<html lang = "en">
    <head>

    </head>

    <body>
        <div class="relatedPosts">

            <h4>Related Posts:</h4>
            
            {% assign maxRelated = 3 %}
            {% assign minCommonTags =  2 %}
            {% assign maxRelatedCounter = 0 %}
            
            {% for post in site.posts %}
            
                {% assign sameTagCount = 0 %}
                {% assign commonTags = '' %}
            
                {% for category in post.categories %}
                  {% if post.url != page.url %}
                    {% if page.categories contains category %}
                      {% assign sameTagCount = sameTagCount | plus: 1 %}
                      {% capture tagmarkup %} <span class="label label-default">{{ category }}</span> {% endcapture %}
                      {% assign commonTags = commonTags | append: tagmarkup %}
                    {% endif %}
                  {% endif %}
                {% endfor %}
            
                {% if sameTagCount >= minCommonTags %}
                  <a href="{{ site.baseurl }}{{ post.url }}">
                    <div class = "rel">
                        <img class = "pimg" src="{{post.image}}">
                        <h5>{{post.title}}</h5>
                    </div>
                  </a>
                  {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
                  {% if maxRelatedCounter >= maxRelated %}
                    {% break %}
                  {% endif %}
                {% endif %}
            
              {% endfor %}
            
            </div>
    </body>
</html>