body {
    background: linear-gradient(to left top, rgb(218, 248, 248), rgb(214, 224, 247));
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
html {
    height: 100%;
}

 h3 {
     font-family: 'Source Serif Pro', serif;
     font-size: 30px;
     padding: 25px;
     text-align: left;
 }
 .title {
     margin-top: 8%;
 }

 /*h2 {
    font-family: 'Muli', serif;
    font-size: 30px;
    margin-left: 20px;
    padding: 50px;
    /*margin-left: auto;
    margin-right: auto;*/
    /*border-top: solid 1px;
    border-bottom: solid 1px;
 } */
 
 p {
     /*border-left-style: double;
     border-left-color: black;
     border-left-width: 2px;*/
     margin-left: 20px;
     font-family: 'Muli', serif;
     font-size: 27px;
     padding: 50px;
     width: auto;
 }

 @media screen and (max-width: 500px) and (min-width: 300px) {
    body {
        background: #e1f2f8 !important;
    }
}
