body {
    background: linear-gradient(to left top, rgb(218, 248, 248), rgb(214, 224, 247));
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height:100%;
  }
html {
    height:100%;
}
.info li {
  list-style-type: none;
  margin-left: -5%;
}
.headery {
  text-align: center;
  padding: 20px;
  font-size: 40px;
  font-family: 'Lora', serif;
}
#fill-white{
  height: 100%;
  margin: auto;
  width: 95%;
  margin-right: -2%;
}
.columny {
  float: left;
  width: 40%;
  padding: 15px;
  margin-left: 50px;
}
.rowy {
  margin: 0 0;
}
.row:after{
  content: "";
  display: table;
  clear: both;
}
/*.card {
  padding: 20px;
  background-color: white;
  border-radius: 20px;
}
.card:hover{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}*/

.picture img {
height: auto;
width: 100%;
vertical-align: middle;
}

.picture {
  width: 100%;
}
.sum {
  margin: auto;
}

.p-ti {
  font-family: 'Lora', serif;
  text-align: center;
  color: black;
}

.p-au, .sum{
  font-family: 'Muli', sans-serif;
  text-align:center;
  color: black;
}

.columny a:hover {
  text-decoration: none;
}

@media screen and (max-width: 750px) {
  .columny {
    width: 90%;
    position: relative;
    margin:auto;
    padding: 20px;
    margin-right: -5%;
    background-color: white;
}
.card{
  overflow:hidden;
}
}
@media screen and (max-width: 1000px) and (min-width: 750px) {
  .columny {
    width: 90%;
    margin: auto;
    background-color: white;
  }
}

* {box-sizing: border-box;}

p {
  margin: 0 0 1em 0;
}