body {
    background: linear-gradient(to left top, rgb(218, 248, 248), rgb(214, 224, 247));
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
html {
    height: 100%;
}
.container {
  width: 85%;
  margin: 50px auto;
}
.contact_box{
  margin-top: 10%;
  background: white;
}
.contact-left {
  padding: 40px 60px;
  margin-top: -10%;
}
.input-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 50px;
}

input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #6E9ACE;
  outline: none;
  padding-bottom: 5px;
}
textarea {
  width: 100%;
  border: 1px solid #6E9ACE;
  outline: none;
  padding: 10px;
  box-sizing: border-box;
  resize: none;
}
#name, #email{
  width: 150%;
}
#name {
  margin-left: 45px;
}
#email {
  margin-left: -50%;
}
#subject, #message {
  margin-top: -2.5%;
  width: 85%;
  margin-left: 10%;
}
#message {
  margin-top: 5%;
}

button {
  background: #6E9ACE;
  width: 100px;
  border: none;
  outline: none;
  color: white;
  height: 35px;
  border-radius: 30px;
  margin-top: 20px;
  margin-left: 10%;
  box-shadow: 0px 5px 15px 0px rgba(28,0,181,0.3);
}

.contact-right h3 {
  font-weight: 600;
  margin-bottom: 30px;
}
tr td:first-child {
  padding-right: 20px;
}
tr td {
  padding-top: 15px;
}
.info {
  padding: 75px;
  margin-left: 75px;
}
.info h3 {
  text-align: center;
  font-size: 2rem;
  font-family: 'Josefin Sans', sans-serif;
}
.info p {
  font-family: 'Muli', sans-serif;
  font-size: 1.0rem;
}

@media screen and (min-width: 550px) and (max-width: 850px) {
  .info {
    margin-left: 0px;
  }
  #email {
    width: 95%;
    margin-left: -5%;
  }
  #subject, #message {
    width: 80%;
  }
  #name {
    width: 95%;
    margin-left: 5%;
  }
}

@media screen and (max-width: 550px) {
  .info {
    margin-left: 0px;
  }
  #email {
    width: 95%;
    margin-left: 8%;
  }
  #subject, #message {
    width: 80%;
  }
  #name {
    width: 95%;
    margin-left: -15%;
  }
}