.flogoadj {
    height: 150px;
    width: 150px;
    margin-top: 15px;
    margin-left: 2.5%;
}
footer{
    width: 100%;
    height: 26%;
    background: white;
}
.icons {
    font-size: 20px;
}
.ft {
    font-family: Muli, sans-serif;
    font-size: 18px;
}
.copyright {
    font-family: Muli, sans-serif;
    font-size: 11px;
} 
@media screen and (max-width: 1150px) {
    footer {
        visibility: hidden;
    }
}

.cont {
    width: 180px;
    height: 100px;
    border-radius: .5em;
    float: right;
    padding: 10px;
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin-top: 2%;
    margin: auto;
  }
  
  .col {
    flex-direction: column;
    height: 100px;
  }
  
  .item {
    width: 150px;
    height: 100px;
    /*background-color: rgba(111,41,97,.3);
    border: 2px solid rgba(111,41,97,.5);*/
    text-align: center;
    display: inline-block;
    margin-top: 5%;
  }
  
