body {
    background: linear-gradient(to left top, rgb(218, 248, 248), rgb(214, 224, 247));
    height: auto;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
html {
    height: 100%;
}
.member-card {
    width: 70%;
    height: 65%;
    background: white;
    border-radius: 25px;
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
    align-items: center;
    margin: 0 auto;
    margin-top: 10%;
    margin-bottom: 10%;
}
.description {
    width: 100%;
    height: 100%;
    margin-left: 125%;
    overflow: hidden;
    align-items: center;
}

.member-card .description h1 {
    font-family: 'Muli', serif;
    font-size: 35px;
    text-align: center;
    padding: 20px;
}
.member-card .description h2 {
    font-family: 'Muli', serif;
    text-align: center;
    font-size: 1.2rem;
    margin-top: -20px;
}

.member-card .description p {
    font-family: 'Lora', serif;
    text-align: left;
    font-size: 0.90rem;
    margin-top: 15px;
}
.containera {
    width: 40%;
    height: 100%;
    background-image: url(Akhila.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px/0px;
}

.containerm {
    width: 40%;
    height: 100%;
    background-image: url(Monika.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px/0px;
}

.containersa {
    width: 40%;
    height: 100%;
    background-image: url(SamA.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px/0px;
}

.containervm {
    width: 40%;
    height: 100%;
    background-image: url(Varsini.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px/0px;
}

.containert {
    width: 40%;
    height: 100%;
    background-image: url(Tyra.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px/0px;
}

.containersm {
    width: 40%;
    height: 100%;
    background-image: url(Sneha.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px/0px;
}

.containerj {
    width: 40%;
    height: 100%;
    background-image: url(Jayce.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px/0px;
}

.containerdd {
    width: 40%;
    height: 100%;
    background-image: url(Dina.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px/0px;
}

.containerka {
    width: 40%;
    height: 100%;
    background-image: url(Kia.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px/0px;
}

.containersp {
    width: 40%;
    height: 100%;
    background-image: url(Sanjana.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px/0px;
}

.containershm {
    width: 40%;
    height: 100%;
    background-image: url(Shivani.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px/0px;
}

/* Media Queries */
@media screen and (max-width: 900px) {
    .containera, .containerm, .containersa, 
    .containersaf, .containert, .containersm, 
    .containeri, .containerj, .containersp, 
    .containersd, .containershm, .containerka,
    .containerdd, .containervm{
        width: 100%;
    }
    .description {
        width: 0%;
        height: 0%;
    }
}
@media screen and (min-width: 1200px) {
    .description p {
        font-size: 1.0rem;
    }
    .description h2 {
        font-size: 1.5rem;
    }
}
@media screen and (max-width: 500px) and (min-width: 300px) {
    body {
        background: #e1f2f8 !important;
    }
}