@media (max-width: 1024px) {
  .navbar-header {
  float: none;
  }
  .navbar-collapse {
  border-top: 1px solid transparent;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
}
/*.white-navigation-bar {
  width: 100%;
  display: inline-block;
  background: white;
  padding: 8px 0;
  }
.main-links {
    list-style: none;
    display: flex;
    color: black;
    white-space: nowrap;
    font-family: 'Special Elite', sans-serif;
  }
  .about-us, .the_team, .members, .events, .ourblog, .contact_us, .resources{
    width: 10%;
    flex: 1;
        text-align: center;
        margin: 0.25em;
        padding: 1.5em;
        text-decoration: none;
        justify-content: center;
  }
  .donate-box {
    width: 0.5%;
    flex: 0.65;
        text-align: center;
        margin: 0.25em;
        padding: 1.5em;
        text-decoration: none;
        justify-content: center;
        background-color: #6E9ACE;
  }

  .thislogo {
      height: 65px;
      width: 65px;
      display: flex;
      float: left;
      z-index: 2;
      position: relative;
  }
  
  a {
      text-decoration: none;
      color: black;
  }

@media screen and (max-width: 900px) {
  .navigation {
    visibility: hidden;
  }
  .white-navigation-bar {
    height: 9%;
  }
}
@media screen and (min-width: 900px) {
  .overlay, .openbtn, .closebtn{
    visibility: hidden;
    z-index: -100%;
  }
}

.overlay {
  width: 0;
  height: 100%;
  top: 0%;
  left: 0;
  position: fixed;
  overflow-x: hidden;
  background: linear-gradient(to left top, rgb(255, 222, 229),rgb(228, 230, 240));
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 1000;
}
.overlay-content {
  top: 10%;
  width: 100%;
  text-align: center;
  left: 0;
  position: relative;
}
.overlay a{
  width: 100%;
  font-size: 40px;
  color: black;
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  font-family: 'Muli', sans-serif;
}
.overlay a:hover{
  text-decoration: underline;
  animation-delay: 5s;
}
#openbar{
  padding-top: 10px;
  font-size: 25px;
  float: left;
}
#closebtn {
  padding: 20px;
  font-size: 30px;
  float: left;
}

html, body {
  height: 100%;
}

.active {
  text-decoration: underline; 
}
#openbar {
  float: right;
  padding: 20px;
  margin-top: -6rem;
}*/