body {
    background: linear-gradient(to left top, rgb(218, 248, 248), rgb(214, 224, 247));
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
html {
    height: 100%;
}
.event-card {
    margin: auto;
    width: 75%;
    height: 65%;
    position: relative;
    display: flex;
}
.starter {
    margin-top: 10%;
    margin-bottom: 10%;
}
.swiper-container{
    width: 100%;
    padding: 15px;
}
.info {
    font-size: 17px;
    padding: 30px;
    font-family: 'Muli', sans-serif;
}
.title {
    font-size: 30px;
    text-align: center;
    font-family: 'Lora', serif;
    padding: 20px;
}
.col-right {
    width: 45%;
    background-color: rgb(250, 243, 235);
    overflow: auto;
}
.new-col{
    background-color:#fde8e6;
}
.info {
    font-size: 15px;
}
@media screen and (max-width: 900px) {
    .swiper-container {
        width: 100%;
        height: 100%;
    }
}
@media screen and (min-width: 1200px) {
    .new-col .info {
        font-size: 18px;
    }
}
.all-slider{
    width: 100%;
    height: 100% !important;
    object-fit: cover;
}
.swiper-wrapper {
    height: 100% !important;
}
.swiper-slide{
    height: 100% !important;
}

@media screen and (max-width: 450px) and (min-width: 300px) {
    body {
        background: #e1f2f8 !important;
    }
}
.wrappered { 
    width: 75%;
    height: 65%;
    margin: auto;
  }
  
.wrappered .swiper-slide {
     height: 100%;
     width: 100%;
}
  #onesie {
    float:left; 
    margin-right:20px;
    width: 55%;
  }
  #twosie {
      height: 100%;
  }
  #twosie .info {
      margin-top: -3%;
  }
 @media screen and (max-width: 800px) {
     #onesie { 
      float: none;
      margin-right:0;
      width:auto;
      border:0;
      height: 50%;  
    }
    #twosie {
        height: 50%;
        overflow: scroll;
    }
    .wrappered .onesie .swiper-slide, .all-slider {
        height: 100%;
    }
    .wrappered { 
        overflow:hidden;
        width: 75%;
        height: 90%;
        margin: auto;
      }
  }

.adjusted-wrapper{
    margin-top: 5%;
    margin-bottom: 5%;
}
.back-1 {
    background-color: rgb(250, 243, 235);
}
.back-2 {
    background-color: #fde8e6;
}