.relatedPosts {
    padding-top: 15px;
    padding-bottom: 20px;
}

.rel {
    width: 200px;
    height: 250px;
    padding: 15px;
    opacity: 0.8;
    border-radius: 15px;
    display: inline-block;
}
.rel:hover {
    opacity: 1;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); 
}
.image-fit {
    width: 200px;
    height: 100px;
}
.pimg {
    max-width: 100%;
    max-height: 100%;
}
.rel h5, h4 {
    font-family: 'Muli', sans-serif;
}

@media screen and (min-width: 1000px) {
    .rel {
        margin-left: 5%;
    }
}
