.relatedPosts {
    padding-top: 15px;
    padding-bottom: 20px;
}

.rel {
    width: 175px;
    height: 175px;
    display: inline-block;
    padding: 15px;
    opacity: 0.8;
    border-radius: 15px;
}
.rel:hover {
    opacity: 1;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); 
}
.pimg {
    width: 100px;
}
.rel h5, h4 {
    font-family: Muli, sans-serif;
}
.rel h5 {
    margin-top: 10;
}

@media screen and (min-width: 1000px) {
    .rel {
        margin-left: 5%;
    }
}
