---
title: Blog Page
---

<html>
  <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta charset = "utf-8">
      <link rel = "stylesheet" href = "/assets/navbar-styling.css">
      <link rel = "stylesheet" href = "/assets/blog-styling.css">
      <link rel = "stylesheet" href = "/assets/tagbar-styling.css">
      <link href="https://fonts.googleapis.com/css?family=Muli:300&display=swap" rel="stylesheet">
      <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/animsition/4.0.2/css/animsition.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
      <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap" rel="stylesheet">
  </head>

<body>
    {% include navbar.html %}
    <p class = "headery"> Blog Posts </p>
    <div class="home py-4 py-md-5">
      <div class="row">
        {% for post in paginator.posts %}   
          <div class="col-9 col-md-6 col-lg-5 move">
           <a href="{{ post.url | prepend: site.baseurl }}" class="index-anchor">
            <div class="card margins">  
              <div class="image">
                <img class = "contained" src = {{post.image}} alt="{{post.title}}">
                <div class="card-body">
                  <h3 class="panel-title font-weight-bold">{{ post.title | truncate: 25 }}</h3>
                  <p class="p-0 my-1 mx-0"><span class="post-meta"><small>{{ post.date | date: "%B %-d, %Y" }} • {{post.author}}</small></span></p>
                   <p>{{post.post_description}}</p>
                </div>
              </div>
            </div>
          </a>
          </div>
        {% endfor %}
      </div>
    </div> 
        
      <div class="row justify-content-center">
        <div class="col-md-4 col-6">
            {% if paginator.total_pages > 1 %}
            <ul class="pagination">
              {% if paginator.previous_page %}
                <li class="page-item active">
                  <a class="page-link" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
                </li>
              {% else %}
                <li class="page-item disabled">
                  <span class="page-link">Previous</span>
                </li>
              {% endif %}
    
              {% for page in (1..paginator.total_pages) %}
                {% if page == paginator.page %}
                  <li class="page-item active">
                    <span class="page-link">{{ page }}</span>
                  </li>
                {% elsif page == 1 %}
                  <li class="page-item">
                    <a class="page-link" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
                  </li>
                {% else %}
                  <li class="page-item">
                    <a class="page-link" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
                {% endif %}
              {% endfor %}
    
              {% if paginator.next_page %}
                <li class="page-item active">
                  <a class="page-link" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
                </li>
              {% else %}
                <li class="page-item">
                  <span class="page-link">Next</span>
                </li>
              {% endif %}
              </ul>
            {% endif %}
        </div>
      </div>
    
    </div>
    <!--<div class="animsition"
  data-animsition-in-class="fade-in-left-sm"
  data-animsition-in-duration="1000"
  data-animsition-out-class="fade-out-left-sm"
  data-animsition-out-duration="800">-->

  <!--<div id="fill-white">
      <p class = "headery"> Blog Posts </p>
      {% for post in paginator.posts limit:9 %}
  {% assign indexmod3 = forloop.index | modulo: 3 %}
  {% if indexmod3 == 0 %}<div style="clear: both;"></div>{% endif %}
      <div class = "rowy">
        <div class = "columny">
            <a href="{{ post.url }}">
              <div class = "picture">
            <img src = {{post.image}}>
              </div>
      <h1 class = "p-ti">{{ post.title }}</h1>
      <p class = "p-au"> {{ post.date | date: "%B %-d, %Y" }} • {{post.author}}
      </p>
      <p class = "sum"> {{post.post_description}}</p>
</a>
</div>
</div>
{%endfor%}
</div>
<p class = "headery"> Blog Posts </p>
<div class="container">
  <div>1</div>
  <div>2</div>
  <div>3</div>
  <div>4</div>
  <div>5<br>has more content.</div>
</div>
-->
</body>
</html>