---
title: Blog Page
---

<html>
  <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta charset = "utf-8">
      <link rel = "stylesheet" href = "/assets/navbar-styling.css">
      <link rel = "stylesheet" href = "/assets/blog-styling.css">
      <link rel = "stylesheet" href = "/assets/tagbar-styling.css">
      <link href="https://fonts.googleapis.com/css?family=Special+Elite&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Muli:300&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Lora&display=swap" rel="stylesheet">
      <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/animsition/4.0.2/css/animsition.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  </head>

<body>
    {% include navbar.html %}
    <!--<div class="animsition"
  data-animsition-in-class="fade-in-left-sm"
  data-animsition-in-duration="1000"
  data-animsition-out-class="fade-out-left-sm"
  data-animsition-out-duration="800">-->

  <div id="fill-white">
      <p class = "headery"> Blog Posts </p>
      {% for post in paginator.posts limit:9 %}
  {% assign indexmod3 = forloop.index | modulo: 3 %}
  {% if indexmod3 == 0 %}<div style="clear: both;"></div>{% endif %}
      <div class = "rowy">
        <div class = "columny">
            <a href="{{ post.url }}">
              <div class = "picture">
            <img src = {{post.image}}>
              </div>
      <h1 class = "p-ti">{{ post.title }}</h1>
      <p class = "p-au"> {{ post.date | date: "%B %-d, %Y" }} • {{post.author}}
      </p>
      <p class = "sum"> {{post.post_description}}</p>
</a>
</div>
</div>
{%endfor%}
</div>

<!--<script src = "https://cdnjs.cloudflare.com/ajax/libs/animsition/4.0.2/js/animsition.min.js"> </script>
<script>
    $(document).ready(function() {
  $(".animsition").animsition({
    inClass: 'fade-in',
    outClass: 'fade-out',
    inDuration: 1500,
    outDuration: 800,
    linkElement: '.animsition-link',
    loading: true,
    loadingParentElement: 'body', 
    loadingClass: 'animsition-loading',
    loadingInner: '', 
    timeout: false,
    timeoutCountdown: 5000,
    onLoadEvent: true,
    browser: [ 'animation-duration', '-webkit-animation-duration'],
    overlay : false,
    overlayClass : 'animsition-overlay-slide',
    overlayParentElement : 'body',
    transition: function(url){ window.location.href = url; }
  });
})
</script>-->
</body>
</html>