<!DOCTYPE html>
<html>
<head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset = "utf-8">
        <link rel = "stylesheet" href = "/assets/navbar-styling.css">
        <link rel = "stylesheet" href = "/assets/post-styling.css">
        <link rel = "stylesheet" href = "/assets/tagbar-styling.css">
        <link rel = "stylesheet" href = "/assets/footer-styling.css">
        <link href="https://fonts.googleapis.com/css?family=Special+Elite&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Muli:300&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap" rel="stylesheet">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
</head>

<body>
    {%include navbar.html%}
        <div class = "cover">
            <img class = "m-img" src = {{page.image}}>
        </div>
            <div class = "container">
                <h3 class = "title"> {{ page.title }} </h3>
                <h4 class = "author"> {{ page.date | date: "%B %-d, %Y" }} • {{page.author}}</h4>
                <div class = "content">
                    {{ page.content }}
                </div>
                <br>
                <br>
                {% include tagbar.html %}
            </div>
            <br>
            <br>
            {%include footer.html%}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</body>
</html>
